nav {
    background-color: red;
    font-family: 'Coda Caption';
}

/* unvisited link */
a:link {
    color: #fff;
  }
  
  /* visited link */
  a:visited {
    color: #fff;
  }
  
  /* mouse over link */
  a:hover {
    color: #000;
  }
  
  /* selected link */
  a:active {
    color: #000;
  }

img.side-img {
    width: 50%;
}

#footer{
  background-color: red;
  margin-top: 0px;
  min-height: 10px;
}